@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    margin: 0;
    padding: 0;
    border: 0;
}

ol, ul,li {
    list-style: none;
}

header{
    display: flex;
    justify-content: center;
    background-color: #5300C8;
    padding: 2rem 0;
    width: 100%;
}

.conteudo__total{
    display: flex;
    flex-direction: row-reverse;
}

.container{
display: flex;
justify-content: flex-end;
}

fieldset{
    border: none;
    padding: 40px;
}

.formulario__titulo{
    font-family: "Press Start 2P", system-ui;
    font-size: 24px;
    font-weight: bold;
}

.formulario__campo{
    margin-bottom: 1em;
    
}

input{
    border-radius: 24px;
    border-color: #03318C;
    width: 392px;
    height: 58px;
}

::placeholder{
    font-family: "IBM Plex Mono", sans-serif;
    font-weight: bold;
    color: #03318C;
}

.btn__guardar{
    background-color: #03318C;
    color: #E5E5E5;
    border-radius: 24px;
    width: 188px;
    height: 55px;
    font-family: "IBM Plex Mono", 'sans-serif';
    font-weight: 500;
}

.btn__limpar{
    border-color: #03318C;
    background-color: transparent;
    color: #03318C;
    border-radius: 24px;
    width: 188px;
    height: 55px;
    font-family: "IBM Plex Mono", 'sans-serif';
    font-weight: 500;
}


.menu__title{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: #E5E5E5;
}

.div{
    max-width: 678px;
}
.container__vitrine{
    padding: 40px;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(3, 0fr);
}
h1{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    padding: 40px;
}

.card {
	background-color: #5d04d9;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 20px;
	width: 196px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.card h2 {
    font-family: "IBM Plex Mono", monospace;
    font-style: normal;
	font-size: 24px;
    color: #E5E5E5;
	margin-bottom: 10px;
}

.card p {
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    font-style: normal;
	font-size: 24px;
	line-height: 1.5;
    color: #E5E5E5;
	margin-bottom: 20px;
}

.card img {
	width: 176px;
	height: 174px;

}
/* .card button{
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #E5E5E5;
    color: #151515;
} */


.footer__rodape{
    background-color: #5d04d9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    font-family: "IBM Plex Mono", monospace;
    font-size: 1rem;
    font-weight: 500;
    line-height: 18.78px;
    color: #E5E5E5;
}

@media screen and (max-width: 767px){
    header{
        max-width: 100%;
    }

    .container__vitrine{
        grid-template-columns: repeat(2, 0fr);
    }
}